/*UNIVERSAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'trebuchet ms', sans-serif;
    color: rgba(9, 22, 51, 0.955);
}


/*HEADINGS*/
header{
    background: rgb(155, 164, 204);
}
.heading h1{
    font-size: 50px;
    margin-left: 5px;
    font-weight: bold;
    text-align: center;
}
.heading img{
    width: 75px;
    height: 75px;
    vertical-align: middle;
}
.heading a{
    color: black;
    text-decoration: none;
}


/*HEADERS & MORE*/
.headline{
    margin-bottom: 2.5%;
    font-weight: bold;
}
h1, h2, h3, p{
    margin-left: 2.5%;
}
a {
    color: white;
}


/*NAVIGATION BAR*/
.topnav{
    margin-top: 5px;
    display: block;
    background-color: rgb(10, 10, 58);
    overflow: hidden;
    text-align: center;
}
.topnav a{
    font-family: 'trebuchet ms', sans-serif;
    font-weight: bold;
    font-size: 32px;
    float: none;
    margin-left: 4%;
    margin-right: 4%;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
.topnav a:hover{
    color: #a1a1a1;
}


/*WRAPPER*/
.wrapper{
    width: 95%;
    float: left;
    margin-left: 2.5%;
}
.wrapper h2{
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.wrapper h3{
    font-size: 30px;
    font-weight: bold;
}
.wrapper p{
    font-size: 28px;
}
.wrapper a{
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}
.wrapper button{
    text-align: left;
}


/*IMAGES*/
.pfp{
    border: 10px solid rgb(7, 28, 96);
    border-radius: 20%;
    height: 267px;
    width: 300px;
    float: right;
    margin-left: 25px;
    margin-top: 5px;
    box-shadow: 4px 4px rgb(116, 116, 116);
}
.row {
    display: flex;
    text-align: center;
}  
.col {
    flex: 33.33%;
    padding: 5px;
}
.col img{
    width: 350px;
    margin-left: 2.5%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}
.col:hover img{
    opacity: 0.75;
}


.project{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.project img{
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 14px;
}
.project h3{
    font-size: 38px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project li{
    font-size: 28px;
}