h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(9, 22, 51, 0.955);
}
body{
    background-color: lightslategrey;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
}
.topnav{
    display: block;
    background-color: rgb(10, 10, 58);
    overflow: hidden;
}
.topnav a{
    font: 1em sans-serif;
    font-weight: bold;
    font-size: 23px;
    float: left;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #d9dce0;
    color: black;
}