*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(9, 22, 51, 0.955);
}
.heading{
    margin: 20px;
    margin-left: 5px;
}
.heading h1{
    font-size: 40px;
}
.heading img{
    width:75px;
    height:75px;
    vertical-align:middle;
}
h1{
    font-size: 32px;
    margin-left: 2%;
}
h2,h3{
    font-size: 25px;
    margin-left: 2.5%;
}
body{
    background-color: lightslategrey;
}
p{
    font-size: 19px;
    margin-left:2.5%;
}
.topnav{
    display: block;
    background-color: rgb(10, 10, 58);
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
.topnav a{
    font: 1em sans-serif;
    font-weight: bold;
    font-size: 28px;
    float: left;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
.topnav a:hover{
    background-color: #d9dce0;
    color: black;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
.homepage{
    background-color: rgb(185, 185, 210);
    border: 8px solid rgb(0, 0, 0);
    height: 20vh;
    margin-bottom: -1px;
}
.wrapper{
    margin: 10px auto;
    width:95%;
    float: left;
}
.wrapper h2{
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper p{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pfp{
    border: 10px solid rgb(13, 41, 132);
    border-radius: 50%;
    margin-left: 25%;
    height: 275px;
    width: 275px;
    float: right;
    margin-left: 15px;
}
.projects{
    background-color: rgb(185, 185, 210);
    border: 8px solid rgb(0, 0, 0);
    height: 90vh;
    border-top: none;
}
.solo{
    background-color: rgb(185, 185, 210);
    border: 8px solid rgb(0, 0, 0);
    height: 90vh;
}